/*.zip
/Assembly-CSharp-firstpass.csproj
/CM.csproj
/CM.Editor.csproj
/CM.Plugins.csproj
/CM.sln
/Unity.Analytics.DataPrivacy.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/.vs
/items
/Library
/Logs
/obj
/*.apk
/ACTk.Editor.csproj
/ACTk.Examples.Genuine.Editor.csproj
/ACTk.Examples.Genuine.Runtime.csproj
/ACTk.Examples.Runtime.csproj
/ACTk.Runtime.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/CM_IOS
/ClimbMaste证书
/APKs
/Temp
